html, 
body {
    margin: 0;
    padding: 0;
}

.container {
    background-color: black;
}

h1 {
    color: white;
}
h1 {
    text-align: center;
}
p{
    margin: 10px 0;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
}
/* Give your page a fun background color */

/* Make the header and footer a different color from the background */

/* Align the h1 containing your name in the center of the header*/

/* Make your p tag a different color and italic */

/* Put a border around your image */

/* Change the font-family of your list */