html, 
body {
    margin: 0;
    padding: 0;
    background-color: grey;
}

.container {
    background-color: #4F2683;
}
.footer {
    background-color: #4F2683;
    position: fixed;
    bottom: 0%;
    width: 100%;
}

.image {
    border: 5px solid #4F2683;
    margin-left: auto;
    margin-right: auto;
    width: 34%;
    vertical-align: middle;
    
}

h1 {
    color: #FFC62F;
}
h1 {
    text-align: center;
}
p{
    margin: 10px 0;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    color: #FFC62F;
}

.emphasis {
font-style: italic;
}

.list {
    font-family: monospace;
}

/* Give your page a fun background color */ 

/* Make the header and footer a different color from the background */

/* Align the h1 containing your name in the center of the header*/

/* Make your p tag a different color and italic */

/* Put a border around your image */

/* Change the font-family of your list */